// COLORS
$default-bg: #fff;
$default-fg: #000;

$error-bg: #db2828;
$error-fg: #fff;
$success-bg: #21ba45;
$success-fg: #fff;
$warning-bg: #f2711c;
$warning-fg: #fff;
$notice-bg: #2185d0;
$notice-fg: #fff;


// FONTS
$font: 'Yantramanav', sans-serif;
$light: 300;
$normal: 400;
$bold: 900;

// SIZES
$font-size-body-px: 14;
$line-height-px: 21;

// GRID
$grid-gutter: 10px;